*{
    box-sizing: border-box;
}
body{
    background-color: rgb(207, 156, 61);
}

.bas{
    margin-bottom: 20px;
    font-size: 30px;
    color:rgb(160, 0, 0);
}
.box {
    margin: 50px auto;
    
    width:fit-content
}

.renk{
    color:rgb(160, 0, 0);
}

span{
    text-decoration: underline;
}

.ul_bas {
    background-color: rgb(160, 0, 0);
    margin-bottom:20px ;
    width: fit-content;
    border-radius: 4px;
    color:white;

}

.end{
    text-align: end;
    font-size: 30px;
}